
.categoriess{
    
    display: grid;
    gap: 0;
    width: 80vw;
    margin: auto;
    height: 80vh;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 30%;
}
.col{
    grid-row: 30vw;
    
}
.row img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.row{
    position: relative;
}

.gridbtn{
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: white;
    font-size: medium;
    color: grey;
    font-weight: bold;
    width: fit-content;
    min-width: 70px;
    border: none;
    cursor: pointer;
    
  }
  @media screen and (max-width: 767px){
    .categoriess{
        width: 100vw;
        object-fit: contain;
    }
    .gridbtn{
        position: absolute;
        top: 50%;
        left: 30%;
        width: fit-content;
        min-width: 30px;
        font-size: x-small;
    }
  }