.products{
    display: flex;
    height: fit-content;
    width: 100vw;
    align-content: space-between;
}
.pleft h3{
    font-size: 1rem;
}
.pleft{
   height: 100%;
   width: 20%;
   margin-left: 20px;
}
.pright{

    height: 100%;
    width: 75%;
    justify-content: space-between;
    overflow: hidden;
}
.pright img{
    margin-left: 0px;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.pright .cards {
    width: 100%;
    height: auto;
    overflow: hidden;

}
.pright .cards img{
    object-fit: contain;
    width: 210px;
    height: 300px;
    margin: 0px;
}
.pright p{
    margin-top: 15px;
    
}

@media screen and (max-width: 716px){
    .products{
        font-size: smaller;
    }
    .pright img{
        margin-left: 10px;
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
    .pleft h3{
        font-size: smaller;
    }
    .pleft{
        height: 100%;
        width: 20%;
        margin-left: 5px;
     }
    input:in-range{
        width: 70px;
    }
    .pright{
        margin-left: 0px;
        justify-content: center;
        
    }
    .pright .cards img{
        width: 90px;
        margin-left: 0px;
        height: 120px;
        object-fit: contain;
    }
}